theme="kanagawa"

[editor]
line-number = "relative"
mouse = false
jump-label-alphabet = "fjdksla;tybnrueiwoqpvmcxz"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.lsp]
display-inlay-hints = true

[editor.whitespace.render]
space = "all"
tabs = "all"

[keys.insert]
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"
pageup = "no_op"
pagedown = "no_op"
home = "no_op"
end = "no_op"

[keys.normal]
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"
pageup = "no_op"
pagedown = "no_op"
home = "no_op"
end = "no_op"

# Make jumping to locations easier in normal mode
ret = "goto_word"

[keys.normal.space]

# Swap default keymap to make most used easier
R = "rename_symbol"
r = "replace_selections_with_clipboard"

